.App {
  text-align: center;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 10px;
}

.active-like {
  background-color: #008cba;
}

.active-dislike {
  background-color: #f44336;
}

.button {
  border-radius: 8px;
  font-size: 20px;
  color: Oblack;
  padding: 20px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}
